Section:map
	dots:
	sector:
Section:player
	player_location:
	player_direction:
	player_sector:
Section:weapons
	weapon:<name>:<range>,<firerate>,<accuracy>,<dispertion>,<bullet_type>,<magazine_size>:<reload_time>
Section:sprite
	weapon_sprite:<name>:<weapon_number>,<sprite_number>,<start_x>,<start_y>,<texture_width>,<texture_height>:<pixels>